footer{
    line-height: 50px;
    color: whitesmoke;
}

#map-canvas{
    min-height: 400px;
}



/*================ Media Queries====================*/

@media only screen and (max-device-width: 480px) {



}